################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PolyScript/Debug/PolyScript.tlog
/Debug
/PolyScript/Debug
/PolyScript/x64/Debug/PolyScript.tlog
/PolyScript/x64/Debug
/x64/Debug
